extends layout 

block content


    .app__wrapper
        .app__header
            .header__wrapper
                h1= title
        .app__body
            block appContent
        .app__navigation
            .app__nav__inner
                a(href="/app/explore")
                    .app__nav__img__wrp
                        img(src="/images/icons/inclined-magnifying-glass.svg", alt="searching")
                    h3 Explore
            .app__nav__inner
                a(href="/app/favourites")
                    .app__nav__img__wrp
                        img(src="/images/icons/inclined-pin.svg", alt="searching")
                    h3 My Favourites
            .app__nav__inner
                a(href="/app/bookings")    
                    .app__nav__img__wrp
                        img(src="/images/icons/month-calendar.svg", alt="searching")
                    h3 My Bookings
