extends layout 

block content

        .homepage__main__wrapper 
            .home__inner
                .home__title
                    h1.main__title.smaller__title  Password Reset
                    form(action="/user/forgot/post" method="POST")
                        .home__input__wrapper
                            svg(width="21px", height="21px")
                                use(xlink:href="/images/icons/envelope.svg#emailIcon") 
                            input.home__input(type="email" placeholder="Email" name="email")
                        button.button__wrapper.register__button(type="submit" value="Register") Send Reset
                        .home__forgot__wrapper
                            p Back to 
                                span
                                    a(href="/back")
                                        | Login