extends layout 

block content

    .homepage__main__wrapper 
        .home__inner
            .home__title
                h1.main__title= title
                p Lashbase is the only platform on the market that allows freelance lash technicians access to a wide range of clinets in their area
            form(action="/login", method="post")
                .home__input__wrapper
                    svg(width="21px", height="21px")
                        use(xlink:href="/images/icons/envelope.svg#emailIcon") 
                    input.home__input(type="text", value="" name="email" placeholder="Username")
                .home__input__wrapper
                    svg(width="21px", height="21px")
                        use(xlink:href="/images/icons/padlock.svg#passwordIcon") 
                    input.home__input(type="password", value="" name="password" placeholder="Password")
                .home__button__wrapper
                    input(type="submit", value="Login")
                .home__forgot__wrapper
                    p Forgot password? 
                        span
                            a(href="/user/forgot")
                                | Recover here
        .home__lower__wrapper
            .home__lower__grid
                p Don't have an account? 
                    span.register__link
                        a(href="/register")
                            | Sign up here   
                