extends layout 

block content

    .homepage__main__wrapper 
        .home__inner
            .home__title
                h1.main__title= title
                p Lashbase is the only platform on the market that allows freelance lash technicians access to a wide range of clinets in their area
            form(action="/login", method="post")
                .home__input__wrapper
                    label(for="Username") Username
                    input.home__input(type="text", value="" name="email")
                .home__input__wrapper
                    label(for="Password") Password
                    input.home__input(type="password", value="" name="password")
                .home__button__wrapper
                    input(type="submit", value="Login")
                .home__seller__wrapper
                    h3 
                    a(href="http://")
                        input(type="button", value="")
        .home__lower__wrapper
            h2 Don't have an account? 
                span.register__link
                    //- a(href="/registerForm")
                        br 
                        | Register   
                    