extends layout 

block content

        .homepage__main__wrapper 
            .home__inner
                .home__title
                    h1.main__title Reset
                    form( method="POST")
                        .home__input__wrapper
                            svg(width="21px", height="21px")
                                use(xlink:href="/images/icons/padlock.svg#passwordIcon")
                            input.home__input(type="password" placeholder="New Password" name="password")
                        .home__input__wrapper
                            svg(width="21px", height="21px")
                                use(xlink:href="/images/icons/padlock.svg#passwordIcon") 
                            input.home__input(type="password" placeholder="Confirm Password" name="password-confirm")
                        button.button__wrapper.register__button(type="submit" value="Reset") Reset Password 