extends layout 

block content 

    .app__wrapper
        .app__header
            .header__wrapper
                h1 Update Account
        .app__body
            .update__account__wrappper
                form(action="/userUpdate" method="POST")
                    input.login__input(type="text" placeholder="Name" name="name" value=user.name)
                    input.login__input(type="email" placeholder="Email" name="email" value=user.email)
                    button.login_btn(type="submit" value="Update") Update
        .app__navigation
            .app__nav__inner.app__selected
                a(href="/app/explore")
                    .app__nav__img__wrp
                        svg(width="20px", height="20px")
                            use(xlink:href="/images/icons/magnifying-glass.svg#magnifyingIcon")
                    h3 Explore
            .app__nav__inner
                a(href="/app/favourites")
                    .app__nav__img__wrp
                        svg(width="20px", height="20px")
                            use(xlink:href="/images/icons/heart.svg#favouritesIcon")
                    h3 My Favourites
            .app__nav__inner
                a(href="/app/bookings")    
                    .app__nav__img__wrp
                        svg(width="20px", height="20px")
                            use(xlink:href="/images/icons/shopping-bag.svg#bookingsIcon")
                    h3 My Bookings
    .app__blackout



 
                    
                                
                        
