mixin storeCard(store = {})
    a.store__styling(href=`/app/explore/${store.slug}`)
     .store__inner_card
       .store__card__inner
            .store__img
                img(src=`/uploads/${store.photo || 'salon.jpg'}`, alt="")
            .store__info__wrapper
                .store__info__inner
                    h2= store.name
                    p  #{store.location.address}
                    .store__lower
                        each rating in averageRating
                            if rating.slug === store.slug
                                - let i = Math.round(rating.averageRating * 10 / 10) 
                                if i <= 1 || null
                                    .each__reviews
                                        .each__reviews__grid.reviews--selected 
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star-full.svg#fullStarIcon")
                                        .each__reviews__grid
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star.svg#starIcon")
                                        .each__reviews__grid
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star.svg#starIcon")
                                        .each__reviews__grid
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star.svg#starIcon")
                                        .each__reviews__grid
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star.svg#starIcon")
                                if i === 2
                                    .each__reviews
                                        .each__reviews__grid.reviews--selected 
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star-full.svg#fullStarIcon")
                                        .each__reviews__grid.reviews--selected 
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star-full.svg#fullStarIcon")
                                        .each__reviews__grid
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star.svg#starIcon")
                                        .each__reviews__grid
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star.svg#starIcon")
                                        .each__reviews__grid
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star.svg#starIcon")
                                if i === 3 
                                    .each__reviews
                                        .each__reviews__grid.reviews--selected 
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star-full.svg#fullStarIcon")
                                        .each__reviews__grid.reviews--selected 
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star-full.svg#fullStarIcon")
                                        .each__reviews__grid.reviews--selected 
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star-full.svg#fullStarIcon")
                                        .each__reviews__grid
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star.svg#starIcon")
                                        .each__reviews__grid
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star.svg#starIcon")
                            
                                if i === 4 
                                    .each__reviews
                                        .each__reviews__grid.reviews--selected 
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star-full.svg#fullStarIcon")
                                        .each__reviews__grid.reviews--selected 
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star-full.svg#fullStarIcon")
                                        .each__reviews__grid.reviews--selected 
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star-full.svg#fullStarIcon")
                                        .each__reviews__grid.reviews--selected 
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star-full.svg#fullStarIcon")
                                        .each__reviews__grid
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star.svg#starIcon")
                                if i === 5
                                    .each__reviews
                                        .each__reviews__grid.reviews--selected 
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star-full.svg#fullStarIcon")
                                        .each__reviews__grid.reviews--selected 
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star-full.svg#fullStarIcon")
                                        .each__reviews__grid.reviews--selected 
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star-full.svg#fullStarIcon")
                                        .each__reviews__grid.reviews--selected 
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star-full.svg#fullStarIcon")
                                        .each__reviews__grid
                                            svg(width="20px", height="20px")
                                                use(xlink:href="/images/icons/star.svg#starIcon")
                            